[submodule "Vulkan-API-Tutorials"]
	path = Vulkan-API-Tutorials
	url = https://github.com/Niko40/Vulkan-API-Tutorials
[submodule "build_all"]
	path = build_all
	url = https://github.com/nvpro-samples/build_all.git
[submodule "vk_denoise"]
	path = vk_denoise
	url = ./vk_async_resources
[submodule "gl_cadscene_rendertechniques"]
	path = gl_cadscene_rendertechniques
	url = ./gl_cadscene_rendertechniques/
